.App {
    display: flex;
    padding: 50px 10px;
}
.UserContainer {
    width: 300px;
    border: solid 1px black;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.ShopContainer {
    width: 70%;
    /*border: solid 1px black;*/
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 350px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.productCard img {
    width: 100px;
}
.productCard button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #91cade;
    cursor: pointer;
}
.productCard button:hover {
    background-color: #25b1e1;
}
.productCard button:active {
    transform: scale(1.02);
    background-color: #2394bb;
}
.cardIn {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.UserContainer img {
    width: 150px;
}